<% layout("/layouts/boilerplate") %>
<style>
    .tax-info {
        display: inline;
        font-size: 0.8rem;
    }
    /* .tax-toggle {
        padding: 1rem;
        align-content: center;
        text-align: center !important;
        height: 3.5rem;
        border: 1px solid black;
        border-radius: 0.4rem;
        margin-right: 2rem;
    } */
    .form-check-input, .form-check-label {
        cursor: pointer;
    }
    @media (min-width: 501px) {
        .search-listings {
            display: none;
        }
    }
    @media (max-width: 500px) {
        .search-listings {
            padding: 1rem 0.3rem 0.5rem 0;
            position: sticky;
            /* width: 95%; */
            width: 100%;
            bottom: 0;
            z-index: 1;
            background-color: white;
        }
    }
</style>

<!-- <%- include("../includes/filter.ejs") %> -->

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for( listing of allListings ) { %>
        <a class="listing-link" href="/listings/<%= listing._id %>">
        <div class="card listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing img" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %> </b> <br>
                &#8377;<%= listing.price ?
                listing.price.toLocaleString("en-in"):'N/A' %> / night <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
            </p>
            </div>
                
        </div>
        </a>
    <% } %>
</div>

<div class="search-listings">
    <div class="">
      <form class="d-flex needs-validation" role="search" action="/listings/search" novalidate>
        <input value="<%= q %>" class="form-control me-2 search-inp" name="q" type="search" placeholder="Search to location" required>
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
    </div>
</div>
<!-- 
<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo) {
            if(info.style.display != "inline") {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        }
    })
</script> -->
